<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".activities.ManageOrders"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.About"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.Settings"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.ManageAddress"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.WishList"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.PlaceOrder"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.SelectAddress"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.Checkout"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.AddAddress"
            android:exported="false" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CartScreen"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.ProductDetail"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.CategoriesDetail"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.LogIn"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.SignUp"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>